name: Update Public Microsoft NuGet Feeds

on:
  workflow_dispatch:

jobs:
  UpdatePublicNuGetFeeds:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update
        shell: pwsh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN}}
          FEED_TOKEN: ${{ secrets.FEED_TOKEN }}
        run: |
          . (Join-Path $env:GITHUB_WORKSPACE "UpdatePublicNuGetFeeds.ps1")

